

* {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  line-height: 1.3;
  }

html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
    background-size: cover;
    height: 100%;
}

@media only screen and (max-width: 520px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
    "about"
    "portfolio"
    "education"
    "skills1"
    "skills2"
    "skills3"
    "skills4"
    "email"
    "footer";
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  #name {
    text-align: center;
    text-wrap: balance;
  }

  #sub-header {
    text-align: center;
    text-wrap: balance;
  }
}

@media only screen and (min-width: 521px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 10px;
    grid-template-areas:
    "about about"
    "education skills1"
    "education skills2"
    "skills3 skills4"
    "email portfolio"
    "footer footer";
  }

  .portfolio a {
    font-size: 2rem;
  } 

  .email {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  #name {
    text-align: center;
  }

  #sub-header {
    text-align: center;
  }
}

@media only screen and (min-width: 750px) {
  .container {
    display: grid;
    margin: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas: 
    "about about education"
    "about about skills1"
    "skills3 skills4 skills2"
    "email portfolio portfolio"
    "footer footer footer";
  }

  #name {
    text-align: center;
  }

  #sub-header {
    text-align: center;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas: 
    "about about skills1 skills2"
    "about about skills3 skills4"
    "education education skills3 skills4"
    "email email portfolio portfolio"
    "footer footer footer footer";
    
  }

  #name {
    text-align: center;
  }

  #sub-header {
    text-align: center;
  }
}


header {
  display:grid;
  position: relative;
  top: 0;
  width: 100%;
  line-height: .8;
  background: white;
}

#name {
  font-family: avenir;
  align-items: center; 
  letter-spacing: .4ch;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  background: white;
  color: black;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#sub-header {
  font-family: Avenir;
  align-items: center; 
  letter-spacing: .3ch;
  width: 100%;
  font-weight: bold;
  font-size: 1.3em;
  color: black;
  font-weight: bold; 
  z-index: 3;
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
}

a {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 10px;
}

div {
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
  letter-spacing: normal;
}

ul {
  display: inline-table;
  list-style: none;
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
  margin-top: 0px;
  align-items:stretch;
}
  
.about {
  grid-area: about;
  background: rgba(181, 233, 240, 0.824);
  color: rgb(11, 7, 89);
  text-align: left;
  text-indent: 3vw;
  padding: 0.5em;
}

.about a {
  color:black;
  height: 1.9ch;
  text-align: center;
}

.about p {
  text-indent: 0.5vw;
  text-align: center;
  letter-spacing: normal;
  background: rgba(3, 11, 96, 0.797);
  height: 100%;
}

.about ul {
  letter-spacing: normal;
  text-indent: 0.2em;
}

.about ul li{
  padding-top: 10px;
}

.about ul li:not(:last-child){
  padding-bottom: 10px;
  border-bottom: 3px solid black; 
}

.education {
  grid-area: education;
  text-align: left;
  text-indent: 0.5vw;
  background-blend-mode: luminosity;
  background: rgba(0, 0, 0, 0.493);
}

.education a {
  text-align: center;
}

.education ul {
  text-align: center;
}

.education ul li:not(:last-child){
  padding-bottom: 10px; 
}

.education li a {
  font-size: 20px;
  color:aliceblue;
  text-decoration: none;
  margin: 0 auto;
}

.education li a:hover {
  color: blue;
}

.skills1 {
  grid-area: skills1;
  font-size: 2.4em;
  text-align: center;
  text-decoration: none;
  letter-spacing: normal;
  background: rgba(0, 0, 255, 0.507);
}

.skills1 a {
  margin-bottom: 0px;
}

.skills1 ul {
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
}

.skills1 li {
  margin-bottom: 5px;
}

.skills2 {
  grid-area: skills2;
  background: rgba(14, 14, 250, 0.76);
}

.skills2 a {
  margin-bottom: 0px;
}

.skills2 ul {
  text-align: center;
  margin-top: 0px;
}

.skills2 li {
  margin-bottom: 5px;
}

.skills3 {
  grid-area: skills3; 
  text-align: center;
  background:rgba(247, 101, 9, 0.879);
  font-size: 2.4rem;
}

.skills3 a {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.skills3 ul {
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
}

.skills4 {
  grid-area: skills4;
  text-align: center;
  background: rgba(7, 7, 139, 0.646);
}

.skills4 ul{
  text-align: center;
  align-items: center;
}

.skills5 {
  grid-area: skills5;
  background: rgba(0, 0, 255, 0.479);
}

.skills5 ul {
  text-align: center;
}

.portfolio {
  grid-area: portfolio;
  color: transparent;
  padding: 2vh;
  background: rgba(0, 128, 0, 0.815);
}
.portfolio a {
  color: transparent;
  letter-spacing: 0.3ch;
  text-decoration: none;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  border: solid 2px white;
  padding: 0.3em;
  box-shadow: 3px 10px 2px rgba(2, 60, 21, 0.557);
}
.portfolio a:active {
  margin-top: 7px;
  box-shadow: none;
}

.portfolio a:hover {
  background-color: darkgreen;
}

.portfolio p {
  color: white;
}

.email {
  grid-area: email;
  background: rgba(174, 115, 7, 0.892);
  background-blend-mode: difference;
  background-size: cover;
  padding: 2vh;
}

.email a {
  font-size: 1.7rem;
  color: transparent;
  background-size: cover;
  background-blend-mode: luminosity;
  letter-spacing: 0.2ch;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  text-decoration: none;
  padding: 1ch;
  text-align: center;
  line-height: 0.5;
  border: solid 2px white;
  box-shadow: 3px 10px 2px rgba(2, 60, 21, 0.557);
}

.email a:hover {
  cursor: pointer;
  background-color: darkmagenta;
}

.email a:active {
  margin-top: 7px;
  box-shadow: none;
}

.react {
  grid-area: react;
}

.photo {
  grid-area: photo;
}

.portfolio {
  grid-area: portfolio;
}

footer {
  display: grid;
  grid-area: footer;
  width: 100%;
  overflow-x: hidden;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
  filter: contrast(100%);
  background: rgba(0, 0, 0, 0.623);
}

footer p {
  font-weight: bold;
}

#email:hover {
  cursor: pointer;
}
